<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.leigq.quartz.domain.mapper.JobAndTriggerMapper">

	<!--获取任务与触发器详细信息-->
    <select id="getJobAndTriggerDetails" resultType="com.leigq.quartz.domain.entity.JobAndTrigger">
		select
		  jd.`job_name`,
		  jd.`job_group`,
		  jd.`job_class_name`,
		  jd.`description` as jobDescription,
		  t.`trigger_name`,
		  t.`trigger_group`,
		  ct.`cron_expression`,
		  ct.`time_zone_id`,
		  from_unixtime(t.`prev_fire_time`/1000,'%Y-%m-%d %T') as prevFireTime,
		  from_unixtime(t.`next_fire_time`/1000,'%Y-%m-%d %T') as nextFireTime,
		  t.`trigger_state` as triggerState
		from
		  qrtz_job_details as jd,
		  qrtz_triggers as t,
		  qrtz_cron_triggers as ct
		where jd.`job_name` = t.`job_name`
		  and t.`trigger_name` = ct.`trigger_name`
		  and t.`trigger_group` = ct.`trigger_group`
    </select>
    
</mapper>