<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quartz任务管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.5/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.js"></script>
    <script src="https://unpkg.com/element-ui@2.0.5/lib/index.js"></script>

    <style>
        #top {
            background: #20A0FF;
            padding: 5px;
            overflow: hidden
        }
    </style>

</head>
<body>
<div id="test">

    <div id="top">
        <el-button type="primary" @click="search" style="color:white">查询</el-button>
        <el-button type="primary" @click="handleadd" style="color:white">添加</el-button>
        <el-button type="primary" @click="windowOpen('http://cron.qqe2.com')" style="color:white">在线Cron表达式生成
        </el-button>
        <span style="color: white">系统时间：</span>
        <span style="color: white">{{currentDate}}</span>
        <span style="color: white; margin-left: 38%">自动刷新时间：</span>
        <el-select v-model="value" placeholder="自动刷新时间" @change="autoRefreshTime">
            <el-option
                    v-for="item in cycleTime"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
    </div>

    <br/>

    <div style="margin-top:15px">

        <el-table
                ref="testTable"
                :data="tableData"
                style="width:100%"
                border
        >
            <el-table-column
                    prop="jobName"
                    label="任务名称"
                    sortable
                    show-overflow-tooltip>
            </el-table-column>

            <el-table-column
                    prop="jobGroup"
                    label="任务所在组"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="jobDescription"
                    label="任务描述"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="jobClassName"
                    label="任务类名"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="triggerName"
                    label="触发器名称"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="triggerGroup"
                    label="触发器所在组"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="prevFireTime"
                    label="上次执行时间"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="nextFireTime"
                    label="下次执行时间"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="triggerState"
                    label="状态"
                    sortable>
                <template slot-scope="scope">
                    <p style="color: #ff8203" v-if="scope.row.triggerState=='WAITING'">
                        等待
                    </p>
                    <p style="color: red" v-else-if="scope.row.triggerState=='PAUSED'">
                        暂停
                    </p>
                    <p style="color: green" v-else-if="scope.row.triggerState=='ACQUIRED'">
                        正常执行
                    </p>
                    <p style="color: red" v-else-if="scope.row.triggerState=='BLOCKED'">
                        阻塞
                    </p>
                    <p style="color: red" v-else-if="scope.row.triggerState=='ERROR'">
                        错误
                    </p>
                </template>
            </el-table-column>

            <el-table-column
                    prop="cronExpression"
                    label="表达式"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="timeZoneId"
                    label="时区"
                    sortable>
            </el-table-column>

            <el-table-column label="操作" width="300">
                <template scope="scope">
                    <el-button
                            size="small"
                            type="warning"
                            @click="handlePause(scope.$index, scope.row)">暂停
                    </el-button>

                    <el-button
                            size="small"
                            type="info"
                            @click="handleResume(scope.$index, scope.row)">恢复
                    </el-button>

                    <el-button
                            size="small"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>

                    <el-button
                            size="small"
                            type="success"
                            @click="handleUpdate(scope.$index, scope.row)">修改
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <div align="center">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount">
            </el-pagination>
        </div>
    </div>

    <el-dialog title="添加任务" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="任务全类名" label-width="120px" style="width:35%">
                <el-input v-model="form.jobName" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="任务分组" label-width="120px" style="width:35%">
                <el-input v-model="form.jobGroup" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="任务描述" label-width="120px" style="width:35%">
                <el-input v-model="form.jobDescription" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="表达式" label-width="120px" style="width:35%">
                <el-input v-model="form.cronExpression" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="add">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="修改任务" :visible.sync="updateFormVisible">
        <el-form :model="updateform">
            <el-form-item label="表达式" label-width="120px" style="width:35%">
                <el-input v-model="updateform.cronExpression" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="updateFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="update">确 定</el-button>
        </div>
    </el-dialog>
</div>

<footer align="center">
    <p>&copy; Quartz 任务管理</p>
</footer>

<script>
    var vue = new Vue({
        el: "#test",
        data: {
            //表格当前页数据
            tableData: [],

            //请求的URL
            url: 'jobs',

            //默认每页数据量
            pagesize: 10,

            //当前页码
            currentPage: 1,

            //查询的页码
            start: 1,

            //默认数据总数
            totalCount: 1000,

            //添加对话框默认可见性
            dialogFormVisible: false,

            //修改对话框默认可见性
            updateFormVisible: false,

            //提交的表单
            form: {
                jobName: '',
                jobGroup: '',
                jobDescription: '',
                cronExpression: '',
            },

            updateform: {
                jobName: '',
                jobGroup: '',
                cronExpression: '',
            },
            cycleTime: [
                {
                    //数组格式
                    label: '关闭',
                    value: 0
                },
                {
                    //数组格式
                    label: '1秒钟',
                    value: 1
                },
                {
                    //数组格式
                    label: '5秒钟',
                    value: 5
                },
                {
                    //数组格式
                    label: '10秒钟',
                    value: 10
                },
                {
                    //数组格式
                    label: '15秒钟',
                    value: 15
                }
            ],
            value: 1,
            timer: '',
            currentDate: new Date()
        },
        mounted() {
            this.timer = setInterval(function() {
                vue.loadData(vue.currentPage, vue.pagesize);
            }, this.value * 1000);

            setInterval(function() {
                vue.currentDate = new Date(); // 修改数据date
            }, 1000)
        },
        methods: {

            // 自动刷新页面
            autoRefreshTime(cycleTime) {
                clearInterval(this.timer);
                if (cycleTime === 0) {
                    clearInterval(this.timer);
                } else {
                    var time = cycleTime * 1000;
                    this.timer = setInterval(function() {
                        vue.loadData(vue.currentPage, vue.pagesize);
                    }, time);
                }
            },

            //从服务器读取数据
            loadData(pageNum, pageSize) {
                this.$http.get('jobs?' + 'pageNum=' + pageNum + '&pageSize=' + pageSize).then(function (res) {
                    this.tableData = res.body.data.JobAndTrigger.list;
                    this.totalCount = res.body.data.number;
                }, function () {
                    console.log('failed');
                });
            },

            //单行删除
            handleDelete: function (index, row) {
                this.$http.delete('jobs?' + 'jobClassName=' + row.jobName + '&jobGroupName=' + row.jobGroup).then(function (res) {
                    this.$notify({
                        title: '成功',
                        message: res.body.meta.msg,
                        type: 'success'
                    });
                    this.loadData(this.currentPage, this.pagesize);
                }, function () {
                    console.log('failed');
                });
            },

            //暂停任务
            handlePause: function (index, row) {
                this.$http.post('jobs/action/pause', {
                    "jobClassName": row.jobName,
                    "jobGroupName": row.jobGroup
                }, {emulateJSON: true}).then(function (res) {
                    this.$notify({
                        title: '成功',
                        message: res.body.meta.msg,
                        type: 'success'
                    });
                    this.loadData(this.currentPage, this.pagesize);
                }, function () {
                    console.log('failed');
                });
            },

            //恢复任务
            handleResume: function (index, row) {
                this.$http.post('jobs/action/resume', {
                    "jobClassName": row.jobName,
                    "jobGroupName": row.jobGroup
                }, {emulateJSON: true}).then(function (res) {
                    this.$notify({
                        title: '成功',
                        message: res.body.meta.msg,
                        type: 'success'
                    });
                    this.loadData(this.currentPage, this.pagesize);
                }, function () {
                    console.log('failed');
                });
            },

            //搜索
            search: function () {
                this.loadData(this.currentPage, this.pagesize);
            },

            //弹出对话框
            handleadd: function () {
                this.dialogFormVisible = true;
            },

            //打开新页面
            windowOpen: function (url) {
                window.open(url, "_blank");
            },

            //添加
            add: function () {
                this.$http.post('jobs', {
                    "jobClassName": this.form.jobName,
                    "jobGroupName": this.form.jobGroup,
                    "jobDescription": this.form.jobDescription,
                    "cronExpression": this.form.cronExpression
                }, {emulateJSON: true}).then(function (res) {
                    if (res.body.meta.code === '200') {
                        this.$notify({
                            title: '成功',
                            message: res.body.meta.msg,
                            type: 'success'
                        });
                        this.loadData(this.currentPage, this.pagesize);
                        this.dialogFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: res.body.meta.msg,
                            type: 'warning'
                        });
                    }
                }, function () {
                    this.$notify.error({
                        title: '错误',
                        message: res.body.meta.msg
                    });
                });
            },

            //更新
            handleUpdate: function (index, row) {
                this.updateFormVisible = true;
                this.updateform.jobName = row.jobClassName;
                this.updateform.jobGroup = row.jobGroup;
            },

            //更新任务
            update: function () {
                this.$http.post('jobs/action/update',
                    {
                        "jobClassName": this.updateform.jobName,
                        "jobGroupName": this.updateform.jobGroup,
                        "cronExpression": this.updateform.cronExpression
                    }, {emulateJSON: true}
                ).then(function (res) {
                    if (res.body.meta.code === '200') {
                        this.$notify({
                            title: '成功',
                            message: res.body.meta.msg,
                            type: 'success'
                        });
                        this.loadData(this.currentPage, this.pagesize);
                        this.dialogFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: res.body.meta.msg,
                            type: 'warning'
                        });
                    }
                }, function () {
                    this.$notify.error({
                        title: '错误',
                        message: res.body.meta.msg
                    });
                });

            },

            //每页显示数据量变更
            handleSizeChange: function (val) {
                this.pagesize = val;
                this.loadData(this.currentPage, this.pagesize);
            },

            //页码变更
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.loadData(this.currentPage, this.pagesize);
            },

        },
    });

    //载入数据
    vue.loadData(vue.currentPage, vue.pagesize);
</script>


</body>
</html>
