<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quartz任务管理</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.5/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.js"></script>
    <script src="https://unpkg.com/element-ui@2.0.5/lib/index.js"></script>

    <style>
        #top {
            background: #20A0FF;
            padding: 5px;
            overflow: hidden
        }
    </style>

</head>
<body>
<div id="task">

    <div id="top">
        <el-button @click="refresh">刷新</el-button>
        <el-button @click="showAddTaskForm">添加</el-button>
        <el-button @click="windowOpen('http://cron.qqe2.com')">在线Cron表达式生成
        </el-button>

        <div style="position:absolute; right: 16px; top: 13px">
            <span style="color: white">自动刷新时间：</span>
            <el-select v-model="value" placeholder="自动刷新时间" @change="autoRefreshTime" size="3">
                <el-option
                        v-for="item in cycleTime"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>

    </div>

    <br/>

    <div style="margin-top:15px">
        <el-table :data="sysTaskList" border ref="testTable" stripe>
            <el-table-column
                    width="50"
                    prop="taskId"
                    sortable
                    show-overflow-tooltip>
            </el-table-column>

            <el-table-column
                    width="120"
                    prop="taskName"
                    label="任务名"
                    sortable
                    show-overflow-tooltip>
            </el-table-column>

            <el-table-column
                    width="70"
                    prop="taskGroup"
                    label="任务组"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="note"
                    label="任务说明"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="taskClass"
                    label="执行类"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="execParams"
                    label="执行参数"
                    sortable>
            </el-table-column>

            <el-table-column
                    prop="cron"
                    label="定时规则"
                    sortable>
            </el-table-column>

            <el-table-column
                    width="160"
                    prop="prevFireTime"
                    label="上次执行时间"
                    sortable>
            </el-table-column>

            <el-table-column
                    width="160"
                    prop="nextFireTime"
                    label="下次执行时间"
                    sortable>
            </el-table-column>

            <el-table-column width="150" sortable prop="execResult" label="最近一次执行结果" align="center">
                <template slot-scope="scope">
                    <div>{{scope.row.execResult === 1 ? '成功' : '失败'}}</div>
                </template>
            </el-table-column>

            <el-table-column
                    prop="timeZoneId"
                    label="时区"
                    sortable>
            </el-table-column>

            <el-table-column
                    width="60"
                    prop="triggerState"
                    label="状态"
                    sortable>
                <template slot-scope="scope">
                    <p style="color: #ff8203" v-if="scope.row.triggerState=='WAITING'">
                        等待
                    </p>
                    <p style="color: red" v-else-if="scope.row.triggerState=='PAUSED'">
                        暂停
                    </p>
                    <p style="color: green" v-else-if="scope.row.triggerState=='ACQUIRED'">
                        正常执行
                    </p>
                    <p style="color: red" v-else-if="scope.row.triggerState=='BLOCKED'">
                        阻塞
                    </p>
                    <p style="color: red" v-else-if="scope.row.triggerState=='ERROR'">
                        错误
                    </p>
                </template>
            </el-table-column>

            <el-table-column label="操作" width="460" fixed="right">
                <template scope="scope">
                    <el-button
                            size="small"
                            type="success"
                            @click="handlePauseOrResumeOrDeleteOrExecute(scope.$index, scope.row, 4)">立即执行
                    </el-button>

                    <el-button
                            size="small"
                            type="warning"
                            @click="handlePauseOrResumeOrDeleteOrExecute(scope.$index, scope.row, 1)">暂停
                    </el-button>

                    <el-button
                            size="small"
                            type="info"
                            @click="handlePauseOrResumeOrDeleteOrExecute(scope.$index, scope.row, 2)">恢复
                    </el-button>

                    <el-button
                            size="small"
                            type="danger"
                            @click="handlePauseOrResumeOrDeleteOrExecute(scope.$index, scope.row, 3)">删除
                    </el-button>

                    <el-button
                            size="small"
                            type="success"
                            @click="showUpdateTaskFrom(scope.$index, scope.row)">修改
                    </el-button>

                    <el-button
                            size="small"
                            type="success"
                            @click="showTaskLogForm(scope.$index, scope.row)">日志
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <div align="center">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount">
            </el-pagination>
        </div>
    </div>

    <!--添加弹框-->
    <el-dialog title="添加任务" :visible.sync="addTaskFormVisible">
        <el-form :model="addTaskFormData" style="width:80%">
            <el-form-item label="任务名" label-width="120px" >
                <el-input clearable v-model="addTaskFormData.taskName" auto-complete="off" placeholder="最好用英文"></el-input>
            </el-form-item>

            <el-form-item label="任务组" label-width="120px">
                <el-input v-model="addTaskFormData.taskGroup" auto-complete="off" placeholder="可用中文，推荐按业务类型分组"></el-input>
            </el-form-item>

            <el-form-item label="任务说明" label-width="120px">
                <el-input v-model="addTaskFormData.note" auto-complete="off" type="textarea" autosize placeholder="50字以内" maxlength="50" show-word-limit></el-input>
            </el-form-item>

            <el-form-item label="执行类" label-width="120px" >
                <el-input v-model="addTaskFormData.taskClass" auto-complete="off" placeholder="执行任务全类名"></el-input>
            </el-form-item>

            <el-form-item label="执行参数" label-width="120px">
                <el-input type="textarea" v-model="addTaskFormData.execParams" auto-complete="off" autosize placeholder="格式：aaa=hello;bbb=world,多个参数用;隔开"></el-input>
            </el-form-item>

            <el-form-item label="定时规则" label-width="120px">
                <el-input v-model="addTaskFormData.cron" auto-complete="off"></el-input>
            </el-form-item>

            <el-form-item label="允许并发？" label-width="120px">
                <el-radio-group v-model="addTaskFormData.concurrent">
                    <el-radio :label="1">允许</el-radio>
                    <el-radio :label="0">不允许</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="addTaskFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addTaskSubmit">确 定</el-button>
        </div>
    </el-dialog>

    <!--修改弹框-->
    <el-dialog title="修改任务" :visible.sync="updateTaskFormVisible">

        <el-form :model="updateTaskFormData" style="width:80%">
            <el-form-item label="任务名" label-width="120px" >
                <el-input v-model="updateTaskFormData.taskName" disabled auto-complete="off"></el-input>
            </el-form-item>

            <el-form-item label="任务组" label-width="120px" >
                <el-input v-model="updateTaskFormData.taskGroup" disabled auto-complete="off"></el-input>
            </el-form-item>

            <el-form-item label="任务说明" label-width="120px" >
                <el-input v-model="updateTaskFormData.note" auto-complete="off" type="textarea" autosize placeholder="50字以内" maxlength="50" show-word-limit></el-input>
            </el-form-item>

            <el-form-item label="执行类" label-width="120px" >
                <el-input v-model="updateTaskFormData.taskClass" auto-complete="off" placeholder="执行任务全类名"></el-input>
            </el-form-item>

            <el-form-item label="执行参数" label-width="120px" >
                <el-input v-model="updateTaskFormData.execParams" auto-complete="off" type="textarea" autosize placeholder="格式：aaa=hello;bbb=world,多个参数用;隔开"></el-input>
            </el-form-item>

            <el-form-item label="定时规则" label-width="120px" >
                <el-input v-model="updateTaskFormData.cron" auto-complete="off"></el-input>
            </el-form-item>

            <el-form-item label="允许并发？" label-width="120px" >
                <el-radio-group v-model="updateTaskFormData.concurrent">
                    <el-radio :label="true">允许</el-radio>
                    <el-radio :label="false">不允许</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="updateTaskFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateTaskSubmit">确 定</el-button>
        </div>
    </el-dialog>

    <!--暂停 恢复 删除 立即执行 提示弹框-->
    <el-dialog title="操作确认" :visible.sync="pauseOrResumeOrDeleteOrExecuteFormVisible">
        <span>您确定要进行此操作吗？</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="pauseOrResumeOrDeleteOrExecuteFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="commitPauseOrResumeOrDeleteOrExecuteForm">确 定</el-button>
        </span>
    </el-dialog>

</div>

<footer align="center">
    <p>&copy; Quartz 任务管理</p>
</footer>

<script>
    Vue.http.headers.common['language'] = 'en';
    var vue = new Vue({
        el: "#task",
        data: {
            //表格当前页数据
            sysTaskList: [],

            //请求的URL
            url: 'tasks',

            //默认每页数据量
            pageSize: 10,

            //当前页码
            currentPage: 1,

            //查询的页码
            start: 1,

            //默认数据总数
            totalCount: 1000,

            //添加对话框默认可见性
            addTaskFormVisible: false,

            //修改对话框默认可见性
            updateTaskFormVisible: false,

            //暂停 恢复 删除 立即执行 弹框默认可见性
            pauseOrResumeOrDeleteOrExecuteFormVisible: false,

            //提交的表单
            addTaskFormData: {
                taskName: '',
                taskGroup: '',
                taskClass: '',
                note: '',
                cron: '',
                execParams: '',
                concurrent: 0,
            },
            //修改表单
            updateTaskFormData: {
                taskName: '',
                taskGroup: '',
                note: '',
                cron: '',
                taskClass: '',
                execParams: '',
                concurrent: '',
            },
            //暂停|恢复|删除表单
            form: {
                index: '',
                row: '',
                type: '',
            },
            cycleTime: [
                {
                    //数组格式
                    label: '关闭',
                    value: 0
                },
                {
                    //数组格式
                    label: '1秒钟',
                    value: 1
                },
                {
                    //数组格式
                    label: '5秒钟',
                    value: 5
                },
                {
                    //数组格式
                    label: '10秒钟',
                    value: 10
                },
                {
                    //数组格式
                    label: '15秒钟',
                    value: 15
                }
            ],
            value: 1,
            timer: '',
            currentDate: new Date()
        },
        mounted() {
            this.timer = setInterval(function () {
                vue.initData(vue.currentPage, vue.pageSize);
            }, this.value * 1000);

            setInterval(function () {
                vue.currentDate = new Date(); // 修改数据date
            }, 1000)
        },
        methods: {

            // 自动刷新页面
            autoRefreshTime(cycleTime) {
                clearInterval(this.timer);
                if (cycleTime === 0) {
                    clearInterval(this.timer);
                } else {
                    var time = cycleTime * 1000;
                    this.timer = setInterval(function () {
                        vue.initData(vue.currentPage, vue.pageSize);
                    }, time);
                }
            },

            //从服务器读取数据
            initData(pageNum, pageSize) {
                this.$http.get('tasks/' + pageNum + '/' + pageSize).then(function (res) {
                    var data = res.body.data;
                    this.sysTaskList = data.records;
                    this.totalCount = data.total;
                }, function () {
                    console.log('failed');
                });
            },

            //单行删除
            handleDelete: function (index, row) {
                this.$http.delete('tasks/' + row.taskName + '/' + row.taskGroup).then(function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    if (meta.code === 200) {
                        this.$notify({
                            title: '成功',
                            message: meta.msg,
                            type: 'success'
                        });
                        this.initData(this.currentPage, this.pageSize);
                        this.pauseOrResumeOrDeleteOrExecuteFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: meta.msg,
                            type: 'warning'
                        });
                    }
                    this.initData(this.currentPage, this.pageSize);
                }, function () {
                    var body = res.body;
                    var meta = body.meta;
                    this.$notify.error({
                        title: '错误',
                        message: meta.msg
                    });
                });
            },

            //暂停任务
            handlePause: function (index, row) {
                this.$http.post('tasks/action/pause/'  + row.taskName + '/' + row.taskGroup).then(function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    if (meta.code === 200) {
                        this.$notify({
                            title: '成功',
                            message: meta.msg,
                            type: 'success'
                        });
                        this.initData(this.currentPage, this.pageSize);
                        this.pauseOrResumeOrDeleteOrExecuteFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: meta.msg,
                            type: 'warning'
                        });
                    }
                    this.initData(this.currentPage, this.pageSize);
                }, function () {
                    var body = res.body;
                    var meta = body.meta;
                    this.$notify.error({
                        title: '错误',
                        message: meta.msg
                    });
                });
            },

            //恢复任务
            handleResume: function (index, row) {
                this.$http.post('tasks/action/resume/' + row.taskName + '/' + row.taskGroup).then(function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    if (meta.code === 200) {
                        this.$notify({
                            title: '成功',
                            message: meta.msg,
                            type: 'success'
                        });
                        this.initData(this.currentPage, this.pageSize);
                        this.pauseOrResumeOrDeleteOrExecuteFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: meta.msg,
                            type: 'warning'
                        });
                    }
                    this.initData(this.currentPage, this.pageSize);
                }, function () {
                    var body = res.body;
                    var meta = body.meta;
                    this.$notify.error({
                        title: '错误',
                        message: meta.msg
                    });
                });
            },

            // 执行任务
            handleExecute: function (index, row) {
                this.$http.post('tasks/action/execute/' + row.taskName + "/" + row.taskGroup).then(function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    if (meta.code === 200) {
                        this.$notify({
                            title: '成功',
                            message: meta.msg,
                            type: 'success'
                        });
                        this.initData(this.currentPage, this.pageSize);
                        this.pauseOrResumeOrDeleteOrExecuteFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: meta.msg,
                            type: 'warning'
                        });
                    }
                    this.initData(this.currentPage, this.pageSize);
                }, function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    this.$notify.error({
                        title: '错误',
                        message: meta.msg
                    });
                });
            },

            // 弹出暂停|恢复|删除|立即执行对话框
            handlePauseOrResumeOrDeleteOrExecute: function (index, row, type) {
                this.form.index = index;
                this.form.row = row;
                this.form.type = type;
                this.pauseOrResumeOrDeleteOrExecuteFormVisible = true;
            },

            //处理暂停|恢复|删除|立即执行表单提交
            commitPauseOrResumeOrDeleteOrExecuteForm: function () {
                var type = this.form.type;
                switch (type) {
                    case 1:
                        this.handlePause(this.form.index, this.form.row);
                        break;
                    case 2:
                        this.handleResume(this.form.index, this.form.row);
                        break;
                    case 3:
                        this.handleDelete(this.form.index, this.form.row);
                        break;
                    case 4:
                        this.handleExecute(this.form.index, this.form.row);
                        break;
                }
            },


            //刷新
            refresh: function () {
                this.initData(this.currentPage, this.pageSize);
            },

            //弹出添加对话框
            showAddTaskForm: function () {
                this.addTaskFormVisible = true;
            },

            //打开新页面
            windowOpen: function (url) {
                window.open(url, "_blank");
            },

            //添加
            addTaskSubmit: function () {
                this.$http.post('tasks', {
                    "taskName": this.addTaskFormData.taskName,
                    "taskGroup": this.addTaskFormData.taskGroup,
                    "taskClass": this.addTaskFormData.taskClass,
                    "note": this.addTaskFormData.note,
                    "cron": this.addTaskFormData.cron,
                    "execParams": this.addTaskFormData.execParams,
                    "concurrent": this.addTaskFormData.concurrent,
                }, {emulateJSON: true}).then(function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    if (meta.code === 200) {
                        this.$notify({
                            title: '成功',
                            message: meta.msg,
                            type: 'success'
                        });
                        this.initData(this.currentPage, this.pageSize);
                        this.addTaskFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: meta.msg,
                            type: 'warning'
                        });
                    }
                }, function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    this.$notify.error({
                        title: '错误',
                        message: meta.msg
                    });
                });
            },

            //弹出更新对话框
            showUpdateTaskFrom: function (index, row) {
                this.updateTaskFormVisible = true;
                this.updateTaskFormData.taskName = row.taskName;
                this.updateTaskFormData.taskGroup = row.taskGroup;
                this.updateTaskFormData.note = row.note;
                this.updateTaskFormData.taskClass = row.taskClass;
                this.updateTaskFormData.execParams = row.execParams;
                this.updateTaskFormData.cron = row.cron;
                this.updateTaskFormData.concurrent = row.concurrent;
            },

            // 弹出查看日志表格
            showTaskLogForm: function (index, row) {
               this.windowOpen('/task-log.html?taskId=' + row.taskId);
            },

            //更新任务
            updateTaskSubmit: function () {
                this.$http.put('tasks',
                    {
                        "taskName": this.updateTaskFormData.taskName,
                        "taskGroup": this.updateTaskFormData.taskGroup,
                        "note": this.updateTaskFormData.note,
                        "taskClass": this.updateTaskFormData.taskClass,
                        "execParams": this.updateTaskFormData.execParams,
                        "cron": this.updateTaskFormData.cron,
                        "concurrent": this.updateTaskFormData.concurrent,
                    }, {emulateJSON: true}
                ).then(function (res) {
                    var body = res.body;
                    var meta = body.meta;
                    if (meta.code === 200) {
                        this.$notify({
                            title: '成功',
                            message: meta.msg,
                            type: 'success'
                        });
                        this.initData(this.currentPage, this.pageSize);
                        this.updateTaskFormVisible = false;
                    } else {
                        this.$notify({
                            title: '警告',
                            message: meta.msg,
                            type: 'warning'
                        });
                    }
                }, function () {
                    this.$notify.error({
                        title: '错误',
                        message: meta.msg
                    });
                });
            },

            //每页显示数据量变更
            handleSizeChange: function (val) {
                this.pageSize = val;
                this.initData(this.currentPage, this.pageSize);
            },

            //页码变更
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.initData(this.currentPage, this.pageSize);
            },

        },
    });

    //载入数据
    vue.initData(vue.currentPage, vue.pageSize);
</script>
</body>
</html>
