<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.leigq.quartz.domain.mapper.QuartzJobMapper">

	<!--获取任务分组-->
	<select id="getJobGroupName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
		  qjd.`JOB_GROUP`
		FROM
		  `QRTZ_JOB_DETAILS` AS qjd
		WHERE qjd.`JOB_CLASS_NAME` = #{jobClsName};
	</select>


	<!--获取任务与触发器详细信息，SQL严格使用大写，防止Linux(Linux严格区分大小写)服务器报错-->
	<select id="getJobAndTriggerDetails" resultType="com.leigq.quartz.bean.vo.JobAndTriggerVO">
		select
			jd.`JOB_NAME` as jobName,
			jd.`JOB_GROUP` as jobGroup,
			jd.`JOB_CLASS_NAME` as jobClassName,
			jd.`DESCRIPTION` as jobDescription,
			t.`TRIGGER_NAME` as triggerName,
			t.`TRIGGER_GROUP` as triggerGroup,
			ct.`CRON_EXPRESSION` as cronExpression,
			ct.`TIME_ZONE_ID` as timeZoneId,
			from_unixtime(
					t.`PREV_FIRE_TIME` / 1000,
					'%Y-%m-%d %T'
			) as prevFireTime,
			from_unixtime(
					t.`NEXT_FIRE_TIME` / 1000,
					'%Y-%m-%d %T'
			) as nextFireTime,
			t.`TRIGGER_STATE` as triggerState
		from
			QRTZ_JOB_DETAILS as jd,
			QRTZ_TRIGGERS as t,
			QRTZ_CRON_TRIGGERS as ct
		where jd.`JOB_NAME` = t.`JOB_NAME`
			  and t.`TRIGGER_NAME` = ct.`TRIGGER_NAME`
			  and t.`TRIGGER_GROUP` = ct.`TRIGGER_GROUP`
    </select>
    
</mapper>